.mobile-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-header__phone,
.mobile-header__email,
.mobile-header__action {
    display: flex;
    align-items: center;
}

.mobile-header__phone + .mobile-header__phone,
.mobile-header__email + .mobile-header__email {
    margin-top: 8px;
}

.mobile-header__contacts,
.mobile-header__actions {
    display: flex;
    justify-content: space-between;
    margin: 12px 14px;
}

.mobile-header__contacts {
    margin-bottom: 6px;
}


.mobile-header__phone-number,
.mobile-header__email-address,
.mobile-header__action-link,
.mobile-header__action-button {
    font-size: 11px;
    font-weight: bold;
    color: #3C5B84;
    text-decoration: none;
}

.mobile-header__phone-icon,
.mobile-header__email-icon,
.mobile-header__email-address,
.mobile-header__action-icon {
    margin-right: 6px;
}

.mobile-header__action-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

@media (max-width: 400px) {
    .mobile-header__phone-number,
    .mobile-header__email-address,
    .mobile-header__action-link,
    .mobile-header__action-button {
        font-size: 10px;
    }
}

@media (max-width: 370px) {
    .mobile-header__phone-number,
    .mobile-header__email-address,
    .mobile-header__action-link,
    .mobile-header__action-button {
        font-size: 9px;
    }
}

@media (max-width: 350px) {
    .mobile-header__phone-number,
    .mobile-header__email-address,
    .mobile-header__action-link,
    .mobile-header__action-button {
        font-size: 8px;
    }

    .mobile-header__contacts {
        margin-bottom: 0;
    }
}

